<div>
  <h2 id="page-heading" data-cy="MedicationHeading">
    <span jhiTranslate="medicationReminderServerApp.medication.home.title">Medications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="medicationReminderServerApp.medication.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medication"
        [routerLink]="['/medication/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="medicationReminderServerApp.medication.home.createLabel"> Create a new Medication </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="medications?.length === 0">
    <span jhiTranslate="medicationReminderServerApp.medication.home.notFound">No Medications found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="medications && medications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="medicationReminderServerApp.medication.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dosageQuantity">
            <div class="d-flex">
              <span jhiTranslate="medicationReminderServerApp.medication.dosageQuantity">Dosage Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="medicationReminderServerApp.medication.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span jhiTranslate="medicationReminderServerApp.medication.active">Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notification.id">
            <div class="d-flex">
              <span jhiTranslate="medicationReminderServerApp.medication.notification">Notification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="medicationReminderServerApp.medication.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medication of medications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/medication', medication.id, 'view']">{{ medication.id }}</a>
          </td>
          <td>{{ medication.name }}</td>
          <td>{{ medication.dosageQuantity }}</td>
          <td jhiTranslate="{{ 'medicationReminderServerApp.MedicationType.' + medication.type }}">{{ medication.type }}</td>
          <td>{{ medication.active }}</td>
          <td>
            <div *ngIf="medication.notification">
              <a [routerLink]="['/notification', medication.notification.id, 'view']">{{ medication.notification.id }}</a>
            </div>
          </td>
          <td>
            {{ medication.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/medication', medication.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/medication', medication.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(medication)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="medications && medications.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
